/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
}
body{
    background-color: rgb(121, 191, 238);
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}